h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.Android {
  float: left;
  display: block;
  width: 50%;
  background-color: white;
  font-size: 10;
}

.IOS {
  float: left;
  text-align: right;
  display: block;
  width: 50%;
  background-color: white;
  font-size: 10;
}
